<div class="card upgraded">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h2 class="card-title">Orders</h2>
            </div>
        </div>
    </div>
    <div class="card-body position-relative">
        <div class='table-outer'>
            <table id="sample-table-order" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                class="row-border hover upgraded table-bordered">
                <thead>
                    <tr>
                        <th>Order Id</th>
                        <th>Customer Name</th>
                        <th>Employee</th>
                        <th>Shipper</th>
                        <th>Order Date</th>
                        <th>Required Date</th>
                        <th>Shipped Date</th>
                        <th>Order Total $</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="orders && orders.length > 0">
                    <tr *ngFor="let o of orders">
                        <td class="text-right">{{o.orderId}}</td>
                        <td>{{o.customerName}}</td>
                        <td>{{o.employeeFullName}}</td>
                        <td>{{o.shipName}}</td>
                        <td>{{o.orderDate | date:'dd/MM/yyyy'}}</td>
                        <td>{{o.requiredDate | date:'dd/MM/yyyy'}}</td>
                        <td>{{o.shippedDate | date:'dd/MM/yyyy'}}</td>
                        <td class="text-right">$ {{o.orderTotal | number : '1.2-2'}}</td>
                        <td>
                            <button class='btn btn-primary'
                                (click)="openOrderModal(createOrderTemplate, true, o.orderId)">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>