<div class="card upgraded mb-4 mb-md-5">    
    <div class="card-header">
        <h2 class="card-title">Products</h2>
    </div>
    <div class="card-body position-relative">
        <form [formGroup]="searchForm" (ngSubmit)="searchFilterData()">
            <div class="row">
                <div class="col-sm-4">
                    <select id="supplier" name="supplier" formControlName="supplier" (change)="searchFilterData()" class="form-control">
                        <option value="">Select Supplier</option>
                        <option *ngFor="let supplier of suppliers;" [value]="supplier.companyName" [ngClass]="{active: (supplier.companyName == searchForm.value.supplier)}">
                            {{supplier.companyName}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <select id="category" name="category" formControlName="category" (change)="searchFilterData()" class="form-control">
                        <option value="">Select Category</option>
                        <option *ngFor="let category of categories;" [value]="category.categoryName" [ngClass]="{active: (category.categoryName == searchForm.value.category)}">
                            {{category.categoryName}}
                        </option>
                    </select>
                </div>
            </div>
        </form>
        <br />
        <div class="row">
            <div class="col">
                <div class="form-group d-flex align-items-center">
                    <label class="d-flex align-items-center mb-0">
                        show <select [(ngModel)]="perPageLimit" (change)="changePageLimit();" class="form-control w-auto mx-2">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select> entries    
                    </label>                    
                    <button class='btn btn-primary ml-3' (click)="exportToExcel()">Export
                        to
                        Excel</button>
                </div>

            </div>
            <div class="col-6 col-md-3">
                <div class="align-items-center d-flex form-group">                    
                    <label class="mb-0 mr-2">Search: </label>
                    <input class="form-control" [(ngModel)]="search"
                        placeholder="" type="text"
                        (keyup)="filterData();">
                </div>
            </div>
        </div>
        <div class='table-outer'>
            <table id="sample-table-order" class="table table-striped upgraded">
                <thead>
                    <tr>
                        <th class="crsr-pntr text-right" (click)="sortOrder('productId')">
                            Product Id <i *ngIf="sortingColumn === 'productId'"
                                class="fa {{sortType === '' || sortType === 'ASC' ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'}}"></i>
                        </th>
                        <th class="crsr-pntr" (click)="sortOrder('productName')">
                            Product Name <i *ngIf="sortingColumn === 'productName'"
                                class="fa {{sortType === '' || sortType === 'ASC' ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'}}"></i>
                        </th>
                        <th class="crsr-pntr" (click)="sortOrder('suplierName')">
                            Supplier <i *ngIf="sortingColumn === 'suplierName'"
                                class="fa {{sortType === '' || sortType === 'ASC' ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'}}"></i>
                        </th>
                        <th class="crsr-pntr" (click)="sortOrder('categoryName')">
                            Category <i *ngIf="sortingColumn === 'categoryName'"
                                class="fa {{sortType === '' || sortType === 'ASC' ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'}}"></i>
                        </th>
                        <th class="crsr-pntr text-right" (click)="sortOrder('unitPrice')">
                            Unit Price <i *ngIf="sortingColumn === 'unitPrice'"
                                class="fa {{sortType === '' || sortType === 'ASC' ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'}}"></i>
                        </th>
                        <th class="crsr-pntr" (click)="sortOrder('discontinued')">
                            Discontinued <i *ngIf="sortingColumn === 'discontinued'"
                                class="fa {{sortType === '' || sortType === 'ASC' ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'}}"></i>
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="pageWiseArray && pageWiseArray.length > 0; else noTableData">
                    <tr *ngFor="let product of pageWiseArray">
                        <td class="text-right">{{product.productId}}</td>
                        <td>{{product.productName}}</td>
                        <td>{{product.suplierName}}</td>
                        <td>{{product.categoryName}}</td>
                        <td class="text-right">{{product.unitPrice}}</td>
                        <td>{{(product.discontinued == true)?'Yes':'No'}}</td>
                        <td>
                            <button class='btn btn-primary' (click)="openProductModal(productTemplate,product.productId)">View</button>
                        </td>
                    </tr>
                </tbody>
                <ng-template #noTableData>
                    <tbody>                         
                        <tr>                           
                            <td colspan="9" class="text-center">
                                No data available
                            </td>
                        </tr>
                    </tbody>                    
                </ng-template>
            </table>
            <div class="row" *ngIf="products.length > 0">
                <div class="rightAlign col-6" *ngIf="products.length > 0">
                    <pagination [boundaryLinks]="true" [totalItems]="products.length" [itemsPerPage]="perPageLimit"
                        [maxSize]="100" (pageChanged)="pageChanged($event)" class="pagination-sm w-100"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #productTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{currentProduct.productId}} - {{currentProduct.productName}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true" title="close">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" [formGroup]="productForm">
            <div class="container">
                <div class="row">
                    <div class="form-group col-sm-12">
                        <div class="row">
                            <label for="suplierName" class="col-sm-3 col-form-label">Supplier</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="suplierName" name="suplierName" formControlName="suplierName" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="row">
                            <label for="categoryId" class="col-sm-3 col-form-label">Category</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="categoryId" name="categoryId" formControlName="categoryId" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm col-sm-12">
                        <div class="row">
                            <label for="quantityPerUnit" class="col-sm-3 col-form-label">Quantity</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="quantityPerUnit" name="quantityPerUnit" formControlName="quantityPerUnit" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm col-sm-12">
                        <div class="row">
                            <label for="unitPrice" class="col-sm-3 col-form-label">Unit Price</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="unitPrice" [value]="productForm.get('unitPrice').value | number : '1.2-2' | currency" name="quantityPerUnit" formControlName="unitPrice" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm col-sm-12">
                        <div class="row">
                            <label for="unitsInStock" class="col-sm-3 col-form-label">Stock</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="unitsInStock" name="unitsInStock" formControlName="unitsInStock" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm col-sm-12">
                        <div class="row">
                            <label for="discontinued" class="col-sm-3 col-form-label">Discontinued</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="discontinued" name="discontinued" formControlName="discontinued" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm col-sm-12 product-card-outer">
                        <div class="row">
                            <div class="col-sm-5 general-stats">
                                General Stats
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="card bg-light mb-3 product-card">
                                    <div class="card-header">Total Units Sold</div>
                                    <div class="card-body">
                                      <h5 class="card-text text-center">{{currentProduct.totalSold}}</h5>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card bg-light mb-3 product-card">
                                    <div class="card-header">United States</div>
                                    <div class="card-body">
                                      <h5 class="card-text text-center">{{currentProduct.usaSold}}</h5>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card bg-light mb-3 product-card">
                                    <div class="card-header">Other Countries</div>
                                    <div class="card-body">
                                      <h5 class="card-text text-center">{{currentProduct.otherCountrySold}}</h5>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm col-sm-12">
                        <div class="row">
                            <div class="col-md-3 offset-5">
                                <button type="button" class="btn btn-primary" aria-label="Close" (click)="modalRef.hide()">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>    
    </div>    
</ng-template>
